@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

input {
  outline: none;
}

.top-text {
  text-align: center;
  font-size: 48px;
  margin-top: 1rem;
}

.container .container-top {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 25px;
}
.container .container-top input {
  width: 405px;
  height: 43px;
  font-size: 18px;
  padding: 0 10px;
}
.container .container-top select {
  font-size: 18px;
  outline: none;
  width: 405px;
  height: 46px;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.container .container-top select option {
  font-size: 18px;
  font-weight: 500;
}
.container .cards {
  display: flex;
  width: 1200px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 20px;
  margin: 50px auto;
}
.container .cards .card {
  width: 270px;
  height: 260px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  padding-top: 15px;
}
.container .cards .card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.container .cards .card h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.container .cards .card p {
  margin: auto;
  font-size: 16px;
}
.container .cards .card button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
.container #loadMoreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.container #loadMoreBtn:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}
.container #loadMoreBtn:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset, rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

.save-card {
  display: flex;
  width: 1000px;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  gap: 40px;
}
.save-card .saved-user {
  width: 270px;
  height: 260px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  padding-top: 15px;
}
.save-card .saved-user img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.save-card .saved-user h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.save-card .saved-user p {
  margin: auto;
  font-size: 16px;
}
.save-card .saved-user button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */